*
    padding: 0
    margin: 0
    box-sizing: 0

// $background-color1: green
// $background-color2: blue

// .block
//     height: 208px
//     width: 400px
//     background-color: $background-color1
//     &__text
//         background-color: $background-color2

// @mixin new-block
//     height: 100px
//     width: 100px
//     background-color: yellow

// .block-2
//     @include new-block
    